@use '../utils/variables' as *;
@use '../utils/include-media' as *;

.form {
  margin: 4rem 0;

  .input_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 3.5rem auto;
    width: 95%;

    @include media('>=mindesk') {
      width: 70%;
      margin: 5rem 0;
    }

    p {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }

    label {
      font-weight: 600;
      font-size: 2rem;
    }

    input {
      background-color: transparent;
      width: 100%;
      padding: 1.5rem 0;
      border: none;
      outline: none;
      border-bottom: 0.1rem solid rgba($color: #fff, $alpha: 0.3);
      font-weight: 500;
      font-size: 1.7rem;
      color: $clr-white;
      transition: border-bottom 0.3s ease;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include media('>=mindesk') {
        padding: 1.8rem 0;
        font-size: 1.8rem;
      }

      &:active,
      &:focus,
      &:valid:not(:placeholder-shown) {
        border-bottom: 0.1rem solid rgba($clr-white, 1);
      }

      &:not(:focus):not(:placeholder-shown):invalid {
        border-bottom: 0.1rem solid rgba(rgb(245, 93, 93), 1);
      }

      &::placeholder {
        color: $clr-white;
        opacity: 0.5;
        font-style: italic;
        font-family: 'Poppins', sans-serif;
      }
    }

    input[type='file'] {
      display: none;
    }

    label.image_label {
      height: 25rem;
      width: 25rem;
      border: 0.2rem solid rgba($clr-white, 1);
      opacity: 0.6;
      border-style: dashed;
      font-size: 4rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 10;
        display: none;
      }

      &:hover,
      &:active {
        opacity: 1;
      }

      &.invalid {
        border: 0.2rem solid rgba(rgb(245, 93, 93), 1);
        border-style: dashed;
      }

      &:valid {
        border: 0.2rem solid rgba($clr-white, 1);
      }
    }

    textarea {
      padding: 1.5rem 0rem;
      font-size: 1.5rem;
      border: none;
      border-bottom: 0.1rem solid rgba($color: #fff, $alpha: 0.3);
      outline: none;
      color: $clr-white;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      width: 100% !important;
      min-height: 7rem;
      transition: border-bottom 0.3s ease-in;
      background-color: transparent;

      @include media('>=mindesk') {
        padding: 1.8rem 0;
        font-size: 1.8rem;
      }

      &::-webkit-scrollbar {
        width: 0.2rem;
      }

      &:active,
      &:focus,
      &:valid:not(:placeholder-shown) {
        border-bottom: 0.1rem solid rgba($clr-white, 1);
      }

      &:not(:focus):not(:placeholder-shown):invalid {
        border-bottom: 2px solid rgba(rgb(245, 93, 93), 1);
      }

      &::placeholder {
        color: $clr-white;
        opacity: 0.5;
        font-style: italic;
        font-family: 'Poppins', sans-serif;
      }
    }
  }

  .btn_container {
    display: flex;
    justify-content: center;

    @include media('>=mindesk') {
      justify-content: flex-start;
    }
    button {
      margin: 0;
    }
  }
}
